:local(.main) {
  display: flex;
  flex-direction: column;
}

:local(.invoiceForm) {
  display: flex;
}

:local(.actions) {
  display: flex;
  justify-content: space-between;
}

:local(.baseInfoForm) {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 24px;
}
